@import '../../Assets/Sass/mixins.scss';

.sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #12002b;
    height :800px;
    &__form{
        display: flex;
        flex-direction: column;
        font-size: 17px;
        width: 250px;
        padding: 30px;
        margin-top: 40px;
        background-color: white;

        &__icon{
            padding:15px;
            font-size: 20px;
        }

        &__label{
            text-align: left;
            font-weight: bold;
            margin-top: 20px;
        }
        &__input{
            height: 30px;
        }
        &__remember{
            text-align: left;
            margin-top: 10px;

            &__label{
                padding-left: 10px;
            }
        }
        &__button{
            @include cta;
            text-decoration: underline;
        }
    }
}